body{
    background: linear-gradient(rgba(255, 251, 251, 0.582), rgba(255, 255, 255, 0.56)), url(./assets/background2.svg);
    background-repeat: cover;
}
.homecard {
    background-color: #D5CCFF !important;
    border-radius: 70px;
}

.text-1 {
    color: blueviolet !important;
}

.taskbutton {
    background-color: blueviolet !important;
    color: #ffffff !important; /* Set text color to white */
    border: none !important; /* Remove button border */
}

.taskbutton:hover {
    background-color: darkviolet !important; /* Change color on hover */
}
.homeicon {
    width: 100%; 
    height: 150px;
}
input[type="text"] {
    padding: 7px;
    
    margin-right: 5px;
    border-radius: 7px;
}